.film {
    background-color: #313131;
    display: flex;

    justify-content: center;
    align-items: center;
}

.filmInfo {

    
    margin: 0px 0px 0px 20px;
    background-color: #4b4b4b;

    width: 40%;
    height: 100%;
}

.filmImageName {

    margin: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-bottom: 5px solid gold;
}

.filmImage {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 20px;
}

.filmImage img {
    max-width: 100%;

    border-radius: 10px;
}

.filmName {
    color: whitesmoke;
    font-size: larger;
    font-weight: 700;

    margin: 20px;
}

.player {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 20px;

    border-bottom: 5px solid gold;
}