:root {
    --white-main: rgb(200, 200, 200);
    --gray-main: #353535;
  }

.film {
    background-color: #545454;
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;
}





.firstColumn {
    margin: 0px 0px 0px 20px;
    background-color: var(--gray-main);

    width: 40%;
    height: 100%;
}

.firstColumnContentWrapper {
    margin: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.firstColumnContentWrapper > *, .secondColumn > * {
    margin-bottom: 20px;
}

.filmImage {
    display: flex;

    justify-content: center;
    align-items: center;
}

.filmImage img {
    max-width: 100%;

    border-radius: 10px;
}

.filmInfo {
    font-weight: bolder;
    color: var(--white-main);
}

.filmInfo div {
    padding: 10px;
}

.filmInfo div:nth-child(2n) {
    background-color: rgba(20, 20, 20, 0.1);
}

.filmInfo div:nth-child(2n+1) {
    background-color: rgba(120, 120, 120, 0.1);
}


.secondColumn {
    background-color: var(--gray-main);
    margin: 0px 20px 0px 20px;
}

.filmName {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;

    margin-top: 20px;
}

.playerWrapper {
    margin: 20px;

    border-bottom: 5px solid gold;

    height: 100%;

    display: flex;
    align-items: start;
}