.profileWrapper {
    padding-top: 100px;

    display: flex;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profileActions {
    padding: 20px;
    margin: 20px;

    background-color: var(--white-transparent-2);
}

.linkBack {
    padding: 10px;
    margin: 20px;

    display: flex;
    align-items: center;

    font-size: xx-large;
    font-weight: bold;

    color: whitesmoke;

    border-bottom: 5px solid blueviolet;
}

.linkBack:hover {
    padding: 12px;
    transition: all 0.3s;
}

.linkBackWrapper {
    display: flex;
}

.linkBack .arrowSmall {
    margin-right: 5px;
}