swiper-container {
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}

swiper-slide {
   width: 100%;
   aspect-ratio: 11 / 16;
}

swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit:fill;

    border-radius: 10px;
}