.uploadFilmWrapper {
    padding-top: 100px;

    display: flex;
}

.uploadFilm {
    display: flex;
    flex-direction: column;
}

.uploadFilmActions {
    padding: 20px;
    margin: 20px;

    background-color: var(--white-transparent-2);
}

.uploadFilmRow {
    display: flex;
}

